APP_NAME="Look Mart"
APP_ENV=local
APP_KEY=base64:8z6KsZk5fEF9SXg3DmIwFBvCfH1m6tsdMC69DvChd2M=
APP_DEBUG=true
#APP_URL=https://admin.lookmartbd.com
APP_URL=http://192.168.0.106:3000

#FRONTEND_URL=https://www.lookmartbd.com
FRONTEND_URL=http://192.168.0.106:3000
NEXT_REVALIDATE_SECRET="13456"
NEXT_REVALIDATE_URL="http://192.168.0.106:3000/api/revalidate"

ALIEXPRESS_APP_KEY=520736
ALIEXPRESS_APP_SECRET=uDXe7C7HSA8pTvknJWCsxXdRwto9YdE6
ALIEXPRESS_API_URL=https://api-sg.aliexpress.com/rest
ALIEXPRESS_REDIRECT_URL=https://emilio-dominative-wes.ngrok-free.dev/aliexpress/callback

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
#APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="http://127.0.0.1:8000/auth/google/callback"

FACEBOOK_CLIENT_ID=your-client-id
FACEBOOK_CLIENT_SECRET=your-client-secret
FACEBOOK_REDIRECT_URI=http://your-app.com/auth/facebook/callback

CJ_ACCESS_TOKEN=API@CJ4688933@CJ:eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIyODA0OSIsInR5cGUiOiJBQ0NFU1NfVE9LRU4iLCJzdWIiOiJicUxvYnFRMGxtTm55UXB4UFdMWnlyRzZzMUdpMmZibCtSMG00SzlkL2NyeGF2TmNXMEhzdlJlYWxBNFhiYWcxL3g5b3ZnTTdzRnp2M3dyeHlTRVg3MEViZFNXbWNudWZTYTZPeEo4ekVBdnhNTlRSem5YUVUybDNWWGtiYWU2ellBMHNsYTU1OTI5dG1Id2dPRWZPanpudG9jUzlkQUJzN2pQUVkzbW5EMUhLVjNoYWV2K0UxWk12TEFoQ3VJS3phZjBLV2VybVFHRGlzTDQwN0hMRDNjZ3RDZFhLdUVTRmVkSmdBbmhrK0pvQXIvckhaY1ljS0tsajNtM3Npdy9DcENETkcrbFFZR29DY2wxWVA4QzhUUzdiNlpGQ3J4WGR6eEZMeVEzdUVlczVYWS9uWmxDYjF3YTdObENydTRtQyIsImlhdCI6MTc1ODc3NjkwN30.N6ZTvZaJhHpcOKKquSxtomZkTFN8Umf-tSAcHap1tBU

CLOUDINARY_API_KEY=647877567396337
CLOUDINARY_API_SECRET=DwTK0GGj6BWXqHVGtv9dSLGN88M
CLOUDINARY_CLOUD_NAME=dlcmlzld5

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lookmart_backend
DB_USERNAME=root
DB_PASSWORD=

SSLCZ_STORE_ID="shope6490638c512db"
SSLCZ_STORE_PASSWORD="shope6490638c512db@ssl"
SSLCZ_TESTMODE=true

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_ENCRYPTION=tls
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mdshantohossain800@gmail.com
MAIL_PASSWORD=qjlnmlqgfnqiwabc
MAIL_FROM_ADDRESS="mdshantohossain800@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=683942
REVERB_APP_KEY=z2ryixg1tckdo3zkqtc5
REVERB_APP_SECRET=xvbhx7b3mpdiapfnjuie
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
